/* INDEX */
#aboutMe {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-width: medium;
    border-style: solid;
    border-color:#606060;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    margin-left: 40%;
}

h4 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

#socialLinks {
    text-align: center;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
}

/* PORTFOLIO */
.carouselSize {
    height: 100%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CONTACT */
#contactForm {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-width: medium;
    border-style: solid;
    border-color:#606060;
    border-radius: 15px;
    padding: 10px 20px 20px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#343a40;
  color: white;
  text-align: center;
}